[submodule "pe-sieve"]
	path = pe-sieve
	url = https://github.com/hasherezade/pe-sieve.git
[submodule "paramkit"]
	path = paramkit
	url = https://github.com/hasherezade/paramkit
[submodule "krabsetw"]
	path = krabsetw
	url = https://github.com/microsoft/krabsetw.git
