# Good Reference
# https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

bin
obj
*.user
*.suo
*.VC.opendb
TestResults/
FakesAssemblies/

# Native Stuff
*.sdf
*.opensdf
*.ipch
*.aps
[Dd]ebug/
[Rr]elease/
x64/

# NuGet Packages
**/packages/*
#!**/packages/repositories.config
*.nupkg

# githooks specific
githooks/*.dll

# VS2015 db
*.VC.db

# ignore cert files
*.snk
*.pfx

# ignore Mac stuff
.DS_Store

# Visual Studio files. 
.vs/

# Vim files
*~
*.swp
*.swo
